
table, th, td {
   border: 1px solid black;
   width: 100%;
   table-layout: fixed;
   height: 50px;

}

.active {
  background-color: red;
  background-image:url('../images/favicon.png');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center; 

}




